[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-benchmark = "*"
wheel = "*"
maturin = "==0.7.7"

[packages]
plotly = "*"
pandas = "*"
spectra = "*"
numpy = "*"
recommonmark = "~=0.6"
sphinx-rtd-theme = "~=0.4"
pygments-style-monokailight = "~=0.4"
semantic-version = "~=2.8"
Pint = "*"
PyYAML = "*"
Sphinx = "~=2.4"
toml = "*"
nbsphinx = "*"
jupyter = "*"
psutil = "*"
requests = "*"
cffi = "*"
nbconvert = "*"
maturin = "*"
pyspdcalc = {path = "./target/wheels/pyspdcalc-0.1.0-cp37-cp37m-macosx_10_7_x86_64.whl"}

[requires]
python_version = "3.7"
