[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-benchmark = "*"
wheel = "*"
pyo3-pack = "*"

[packages]

[requires]
python_version = "3.7"
