//
// Styles for the PhaseMatch UI
//

$sidePanelCollapsed: 70px;

& {
    width: 100%;
    background: $lightgray;
    padding: 10px;
    @include box-sizing(border-box);

    > .inner {
        position: relative;
        overflow: hidden;
        border: 1px solid $gray;
        @include border-radius( 10px );

        > .upper,
        > .lower {
            position: relative;
        }

        > .lower {
            border-top: 2px solid $gray;
        }
    }
}

#main {
    @include clearfix;
    padding: 1em 0;
}

.loading-msg {
    color: $firm;
    font-size: 3em;
    height: 6em;
    margin-top: 3em;
    text-align: center;
}

#parameters-wrap {
    width: 100%;
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid $gray;
    background: #fff;
    background: rgba(#fff, 0.3);
    @include box-sizing( border-box );

    .title {
        margin: 0;
        vertical-align: top;
    }

    &.collapsed {
        height: $sidePanelCollapsed;
        border-color: $gray;

        .title:after {
            content: '...';
        }
        
        #parameters {
            @include opacity( 0 );
        }
    }

    .ctrl-calc,
    .ctrl-calc + label {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        margin-right: 0.5em;
    }

    .btn-wrap {
        text-align: right;
    }

    #parameters {
        margin-top: 1em;
    }
}

.plot {
    max-width: 900px;
    margin: auto;
    border: 1px solid lighten($gray, 10);
}

#logs {
    height: 200px;
    background: #fff;
    padding: 2em 3em;
    overflow: auto;
    @include border-radius( 0 0 10px 10px );

    p {
        font-family: $monoFontFamily;
        
    }
}
