//
// Styles for the PhaseMatch UI
//

$sidePanelCollapsed: 70px;

body {
    background-color: $lightgray;
}

& {
    width: 100%;
    // width:960px;
    // min-width:960px;
    // margin: 0 auto;
    /*background: $lightgray;*/
    /*background: #fff;*/
    // padding: 10px;
    padding-top:0;
    @include box-sizing(border-box);

    > .inner {
        position: relative;
        overflow: hidden;
        width:100%;
        /*border: 1px solid $gray;
        @include border-radius( 10px );*/

        > .upper,
        > .lower {
            position: relative;
            overflow: hidden;

            width:960px;
            margin: 0 auto;
        }

        > .upper > .right {

            /*margin-left: 320px;*/
            overflow: hidden;

            #main {
                width: 100%;
                /*min-width: 960px;*/
                /*margin: auto;*/
            }
        }

        > .lower {
           /* border-top: 2px solid $gray;*/
        }
    }
}

.navbar-inverse .navbar-inner {
    background-color: #ECF0F1;
    border:none;
}

.dropdown {

    .dropdown-menu {
        background: $base;
        border: 0;
        color: $inverse;
        min-width: 180px;

        a {
            color: $inverse;
            text-decoration: none;

            &:hover,
            &:focus {
                background: $base;
                color: $firm;
            }
        }
    }

    
}

.btn i {
    vertical-align: middle;
}

.navbar {
    .site-title {
        float: left;
        margin: 0 1em 0 0.2em;
        padding: 5px;
        color: $base;
        font-weight: normal;
        font-size: 1.285em;
    }

    .ui-module-wrap {
        margin: 6px 0 -5px;
    }

    .nav, .ui-module-wrap{
        float:right;
    }
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
}

.loading-msg {
    color: $firm;
    font-size: 3em;
    height: 6em;
    margin-top: 3em;
    text-align: center;
}

.options-wrap{
    /*width: 220px;*/
    /*float: left;
    overflow: hidden;*/
}

.parameters-wrap {
    /*width: 100%;*/
    /*width: 300px;*/
    /*width: 220px;*/
    float: left;
    overflow: hidden;
    padding: 10px;
    /*border-bottom: 1px solid $gray;*/
    /*background: #fff;*/
    /*background-color: #1ABC9C;*/
    /*background-color: #ECF0F1;*/
    /*background-color: #fff;*/
    background-color: transparent;
    /*border: 1px solid #ECF0F1;*/
    border-color: $gray;
    border: none;
    border-top: 1px solid $gray;
    /*// background: rgba(#fff, 0.3);*/
    @include box-sizing( border-box );

    .title {
        /*width:100%;*/
        /*width:150px;*/
        float:left;
        margin: 0;
        font-weight: bold;
        /*margin-bottom: 2em;*/
        vertical-align: top;
        clear:both;
        font-size: 1em;
    }

    &.collapsed {
        height: $sidePanelCollapsed;
        /*background-color: #2E4053;*/
        background-color: #2C3E50;
        background-color: #fff;
        color: #ECF0F1;
        .title:after {
            content: '';
        }
        .title{
            color:#ECF0F1;
            color: #2C3E50 ;
            font-weight: normal;
        }
        
        /*#parameters {
            @include opacity( 0 );
        }*/
    }

    .ctrl-calc,
    .ctrl-calc + label {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        margin-right: 0.5em;
    }
    .collapse-ctrl{
        float: right;
        width:40px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        /*border: 1px solid #ECF0F1;*/
    }

    .btn-wrap {
        text-align: right;
    }

    .form-horizontal{
         margin-top: 1em;
    }
    /*#parameters {
        margin-top: 1em;
    }*/

    .form-horizontal .control-group {
        margin-bottom: 5px;
    }

    .full {
        width: 100%;
    }
}

.heat-map {
    // @include box-sizing(border-box);
}

.plot {

    .title {
        font-size: 1.5em;
        width: auto;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .line {
      fill: none;
      stroke-width: 1.5px;
    }

    .menu-ctrl {
        position: absolute;
        left: 28px;
        top: 22px;
        z-index: 3;
        
        .btn {
            padding: 4px 8px;
        }
    }
}

#logs {
    width:100%;
    height: 200px;
    background: #fff;
    padding: 2em 3em;
    overflow: auto;
    @include border-radius( 0 0 10px 10px );

    p {
        font-family: $monoFontFamily;
        
    }
}


input,
textarea,
.uneditable-input{
  width: 70px;
}

label{
    width: 100px;
}

.calcbutton {
    float:left;
}

.calccheckbox {
    float:left;
    width:90px;
}

.dropdown select {
  position: relative;
  top:0;
  visibility: visible;
}

// custom overrides for checkboxes

.checkbox.control-label {
    cursor: pointer;
    text-align: right;
    padding-left: 0;

    .icon {
        top: 5px;
        right: -60px;
        left: auto;
    }

    .icon-to-fade {
        top: 5px;
        left: auto;
        right: -60px;
    }
}

// share url
.share-wrap {
    position: relative;
}
#share-url {
    display: none;
    width: 170px;
    position: absolute;
    top: -11px;
    right: 0;
}

#time-delay {
    margin: 1em 0;
    margin-left: 80px;
    overflow: visible;
    
    // .ui-slider-handle {
    //     height: 26px;
    //     width: 26px;
    // }
}

// .inputbox {
//     float:right;
//     width:75px;
// }

// label, input[type="text"] {
//    vertical-align: middle;
//    margin-right: 1em;
// }

// input[type="text"]{
//     margin-left:2em;
// }

.page-title{
    font-size: 3.4285em;
    margin: 1em 0 1em 0;
}

.form-horizontal {
  
  .controls {
    *padding-left: 0px;
    margin-left: 120px;
    *margin-left: 0;
    &:first-child {
      *padding-left: 120px;
    }
    }
}


