//
// Styles for the PhaseMatch UI
//

$sidePanelCollapsed: 70px;

& {
    width: 100%;
    background: $lightgray;
    padding: 10px;
    @include box-sizing(border-box);

    > .inner {
        position: relative;
        overflow: hidden;
        /*border: 1px solid $gray;
        @include border-radius( 10px );*/

        > .upper,
        > .lower {
            position: relative;
            /*float:left;*/
        }

        > .upper > .right {

            margin-left: 320px;
            overflow: hidden;
            text-align: right;

            #main {
                width: 100%;
                max-width: 610px;
                margin: auto;
            }
        }

        > .lower {
           /* border-top: 2px solid $gray;*/
        }
    }
}

.navbar {
    .site-title {
        float: left;
        margin: 0 1em 0 0.2em;
        padding: 5px;
        color: $lightgray;
        font-weight: normal;
    }

    .ui-module-wrap {
        margin: 6px 0 -5px;
    }
}

.loading-msg {
    color: $firm;
    font-size: 3em;
    height: 6em;
    margin-top: 3em;
    text-align: center;
}

#parameters-wrap {
    /*width: 100%;*/
    width: 300px;
    float: left;
    overflow: hidden;
    padding: 20px;
    /*border-bottom: 1px solid $gray;*/
    background: #fff;
    background: rgba(#fff, 0.3);
    @include box-sizing( border-box );

    .title {
        /*width:100%;*/
        /*width:150px;*/
        float:left;
        margin: 0;
        /*margin-bottom: 2em;*/
        vertical-align: top;
        clear:both;
    }

    &.collapsed {
        height: $sidePanelCollapsed;
        border-color: $gray;

        .title:after {
            content: '';
        }
        
        #parameters {
            @include opacity( 0 );
        }
    }

    .ctrl-calc,
    .ctrl-calc + label {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        margin-right: 0.5em;
    }
    .collapse-ctrl{
        float: right;
        width:50px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
    }

    .btn-wrap {
        text-align: right;
    }

    #parameters {
        margin-top: 1em;
    }

    .form-horizontal .control-group {
        margin-bottom: 5px;
    }

    .full {
        width: 100%;
    }
}

.heat-map {
    @include box-sizing(border-box);
}

.plot {
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
}

#logs {
    width:100%;
    height: 200px;
    background: #fff;
    padding: 2em 3em;
    overflow: auto;
    @include border-radius( 0 0 10px 10px );

    p {
        font-family: $monoFontFamily;
        
    }
}


input,
textarea,
.uneditable-input{
  width: 75px;
}

label{
    width: 120px;
}

.calcbutton {
    float:left;
}

.calccheckbox {
    float:left;
    width:90px;
}

.dropdown select {
  position: relative;
  top:0;
  visibility: visible;
}

// custom overrides for checkboxes

.checkbox.control-label {
    cursor: pointer;
    text-align: right;
    padding-left: 0;

    .icon {
        top: 5px;
        right: -60px;
        left: auto;
    }

    .icon-to-fade {
        top: 5px;
        left: auto;
        right: -60px;
    }
}

#time-delay {
    margin: 1em 0;
    overflow: visible;
    
    // .ui-slider-handle {
    //     height: 26px;
    //     width: 26px;
    // }
}

// .inputbox {
//     float:right;
//     width:50px;
// }

// label, input[type="text"] {
//    vertical-align: middle;
//    margin-right: 1em;
// }

// input[type="text"]{
//     margin-left:2em;
// }



