$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Menlo, Consolas, "Courier New", monospace !default;

$textColor:             #444;
$headingsColor:         #222;

$linkColor:             #08c !default;
$linkColorHover:        darken($linkColor, 15%) !default;

$base-font-size: 16px;
$base-line-height: 24px;

$phi: 1.61803398875;

@import "vendor/_compass_twitter_bootstrap";
// @import "vendor/_compass_twitter_bootstrap_responsive";
@import "vendor/flat-ui/_flat-ui";

@import "compass/css3";
@import "compass/typography";

body {
    padding: 0;
}

#pm-ui {
    @import "_pm-ui";
}